/*
* demo.css
* File include item demo only specific css only
******************************************************************************/
    
.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
}

/* login
 ******************************************************/
.login-card {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.login-logo {
    max-width: 500px;
    width: 100%;
    height: auto;
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 74px !important;
}

/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

.docs-page .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu) .layout-page,
.docs-page .layout-menu-fixed.layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks>* {
  display: block !important;
}

.demo-inline-spacing>* {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing>* {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg>* {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl>* {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element> :first-child {
  margin-top: 0 !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 231px;
    position: relative;
  }

  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}


/* Sidebar Container */
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #1e1e2d;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

/* Logo Section */
.sidebar-logo {
  padding: 18px;
  text-align: center;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e3e3e9ff;
}

.sidebar-logo img {
  max-height: 110px;
  max-width: 350px;
}

/* side bar Menu */
.sidebar ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.menu-item {
  margin-bottom: 6px;
}

/* MAIN MENU LINK */
.menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  color: #f6f4f4ff;
  /* ✅ White text */
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-link i {
  font-size: 18px;
  color: #ffffff;
}



/* Menu Header */
.menu-header {
  font-size: 12px;
  text-transform: uppercase;
  color: #f5f6f8ff;
  /* Soft white */
  margin: 15px 10px 5px;
}

/* Submenu */
.submenu {
  display: none;
  padding-left: 35px;
}

.submenu li a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: #f6f6f6ff;
  /* ✅ White submenu text */
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}


/* Arrow */
.arrow {
  color: #ffffff;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(90deg);
}

/* Hover effect for main menu (a + div both) */
.menu-link:hover {
  background: #0a0a92;
  /* Dark blue hover */
  color: #ffffff;
}

/* Icon + text white on hover */
.menu-link:hover span,
.menu-link:hover i {
  color: #121111ff;
}

/* Submenu hover */
.submenu li a:hover {
  background: #2b2b40;
  color: #ffffff;
}


.action-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.action-btn i {
  font-size: 13px;
}

.action-btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.large-checkbox{
    transform: scale(1.5);
    accent-color: #198754; /* success green */
}


