/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
}



/* Login Page Background */
.login-body {
  margin: 0;
  min-height: 100vh;
  background: url('/admin/assets/img/backgrounds/login-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .login-card {
    width: 100%;
    max-width: 420px;        
    min-height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    margin: auto;
    padding: 0;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.95);
} */

.login-card {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.259);
  margin: auto;
  padding: 0;
}




/* Logo */
.login-logo {
  max-width: 350px;
  width: 100%;
  height: auto;
}


/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 74px !important;
}

/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

.docs-page .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu) .layout-page,
.docs-page .layout-menu-fixed.layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks>* {
  display: block !important;
}

.demo-inline-spacing>* {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing>* {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg>* {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg.demo-only-element> :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl>* {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-xl.demo-only-element> :first-child {
  margin-top: 0 !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 231px;
    position: relative;
  }

  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}

.layout-demo-placeholder img {
  width: 900px;
}

.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}


#sidebarMenu::-webkit-scrollbar {
  display: none;
}

/* Sidebar Container */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #1e1e2d;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  padding-bottom: 30px;

}

.sidebar-close {
  display: none;
}

.sidebar,
#layout-menu {
  transition: transform 0.3s ease;
  z-index: 1100;
}

@media (max-width: 1199px) {

  .sidebar-close {
    display: flex;
    justify-content: flex-end;
    padding: 12px 14px;
  }

  #sidebarClose {
    font-size: 28px;
    color: #dc3545;
    cursor: pointer;
    border-radius: 50%;
    padding: 6px;
    transition: transform 0.2s ease, color 0.2s ease;
  }

  /* Hover effect */
  #sidebarClose:hover {
    color: #b02a37;
    /* darker red */
    transform: scale(1.1);
  }
}

/* Desktop: hide X always */
@media (min-width: 1200px) {
  .sidebar-close {
    display: none !important;
  }
}

@media (max-width: 1199px) {

  #layout-menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1100;
  }

  #layout-menu.show {
    transform: translateX(0);
  }
}


/* ================= MOBILE (<1200px) ================= */
/* @media (max-width: 1199px) {

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .sidebar-close {
    display: flex;
    justify-content: flex-end;
    padding: 12px 14px;
  }

  .sidebar-close i {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }
} */

/* @media (min-width: 1200px) {

  .sidebar {
    transform: translateX(0);
  }

  .layout-menu-toggle {
    display: none !important;
  }

  .sidebar-close {
    display: none !important;
  }
} */


/* Logo Section */
.sidebar-logo {
  padding: 18px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #e3e3e9ff;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
}

.sidebar-logo img {
  max-height: 110px;
  max-width: 350px;
}

/* side bar Menu */
.sidebar ul {
  padding: 10px;
  margin: 0;
}


.sidebar-menu {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}


.sidebar-close {
  display: none;
}

.menu-item {
  margin-bottom: 6px;
}

/* MAIN MENU LINK */
.menu-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 14px;
  color: #f6f4f4ff;
  /* ✅ White text */
  text-decoration: none;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-link i {
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  text-align: right;
  width: 20% !important;
}

/* LEFT PART (icon + text) */
.menu-link span {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  color: #ffffff;
  line-height: 1.4;
}

/* ICON */
.menu-link span i {
  width: 22px;
  font-size: 18px;
  text-align: center;
  flex-shrink: 0;
}


/* Menu Header */
.menu-header {
  font-size: 12px;
  text-transform: uppercase;
  color: #f5f6f8ff;
  /* Soft white */
  margin: 15px 10px 5px;
}

/* Submenu */
.submenu {
  display: none;
  padding-left: 48px;

}

.submenu li a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: #f6f6f6ff;
  /* ✅ White submenu text */
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}


/* Arrow */
.menu-link .arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
}


/* .arrow {
  color: #ffffff;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(90deg);
} */

/* Hover effect for main menu (a + div both) */
.menu-link:hover {
  background: #ffffff;
  /* color: #faf6f6; */
}

/* Icon + text white on hover */
.menu-link:hover span,
.menu-link:hover span i {
  color: #121111ff;
}

/* Submenu hover */
.submenu li a:hover {
  background: #2b2b40;
  color: #ffffff;
}


.action-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.action-btn i {
  font-size: 13px;
}

.action-btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.large-checkbox {
  transform: scale(1.5);
  accent-color: #198754;
  /* success green */
}

/* expiry alert */
.expiry-toast-container {
  position: fixed;
  top: 90px;
  right: 20px;
  z-index: 1100;
  /* above navbar */
  width: 360px;
  max-width: 95%;
}

.expiry-toast-container .alert {
  border-left: 5px solid #dc3545;
  animation: slideInRight 0.4s ease;
}

/* expiry alert */
/* Smooth entry animation */
@keyframes slideInRight {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}

/* Scrolling warehouse list */
.warehouse-list {
  height: 150px;
  /* visible area */
  overflow: hidden;
  position: relative;
}

.warehouse-list ul {
  position: absolute;
  width: 100%;
  animation: slideUp 10s linear infinite;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}